# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.o
*.elf
*.bin
*.map

# Logs
*.log

# Python
__pycache__/
*.pyc

# KiCad
*.bak
*.bck
*.tmp
*.net
*.xml
fp-info-cache
sym-lib-table-bak
fp-lib-table-bak

# PlatformIO / VSCode
.pio/
.vscode/
